* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


/* ----------------------------------------Heading styles -------------------------------*/
.header {

    background: rgba(255, 144, 14, 0.1);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 240px 0 240px;
    margin-bottom: 100px;
}

.header h3 {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.nav-items {
    display: flex;
    gap: 40px;
}

.nav li {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}



/* -------------------------------------------------Banner styles------------------------------------------*/

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 30px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.orange-button {
    font-weight: 600;
    font-size: 20px;
    color: white;
    background: #FF900E;
    border: 0;
    border-radius: 8px;
    padding: 18px 25px;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.banner-image {
    padding-bottom: 40px;
}

.banner-image img {
    border: 0;
    border-radius: 15px;
}



/*---------------------------------------------------------------- Blog 1 styles --------------------------------------------- */
.first-blog {
    margin-bottom: 150px;
}

.blog-container {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 0 300px;
    margin-top: 90px;
}

.blog-images {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);


}

.blog-images img {
    border: 0;
    border-radius: 11px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.blog-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
}

.gray-text {
    color: #727272;
    font-weight: 500;
}

.orange-text {
    color: #FF900E;
}


.blog-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 200%;
    margin-bottom: 25px;

}



/* -------------------------------------------------------Second Blog style -------------------------------------------- */

.second-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 250px;
    margin-bottom: 170px;
}


.left-top h2 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
    border-left: 5px solid #FF900E;
    padding-left: 25px;
    padding-right: 126px;
}

.left-top p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
    line-height: 200%;
}


.bottom-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box {
    padding: 30px 20px 30px 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 0;
    border-radius: 10px;
}

.box h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.box p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 200%;
}

.right-side img {
    padding: 70px 0 90px 90px;
}



.big-button {
    position: absolute;
    left: 880px;
    top: 3235px;
}



.big-button button {
    background: #FF900E;
    font-weight: 700;
    font-size: 65px;
    border: 0;
    border-radius: 8px;
    color: white;
    text-align: center;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 45px 30px 45px;
    margin-bottom: 170px;
}

.experience {
    font-weight: 500;
    font-size: 25px;
}


/* -----------------------------------------------------------------Some Facts style-----------------------------------------------  */

.fact-details{
    text-align: center;
}

.fact-details h3 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 30px;
}

.fact-details p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 60px;
    word-spacing: 2px;

}

.facts-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    margin-bottom: 180px;
}

.fact-box{
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition:  0.3s linear;
}

.fact-box:hover{
    transform: rotate(20deg);
    background-color: #fffaf5;
}
.fact-box-info {
    height: 240px;
    width: 240px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fact-box-info img {
    margin-bottom: 10px;
}

.fact-box-info h3 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.fact-box-info p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}



/*---------------------------------------------------------------Sponsors Style-------------------------------------------------------  */


.sponsor-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 155px;
    margin-bottom: 130px;
    margin-top: 80px;
}





















































/* --------------------------------------------------------------------------MEdia query  -----------------------------------------------------*/

/*                 mobile device                */

@media screen and (max-width:688px) {



    /* header style  */
    .header-top {
        padding: 30px 0 10px 20px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-top h3 {
        font-size: 35px;
        margin-bottom: 10px;
        color: #FF900E;
    }

    .nav-items {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
    }


    /* banner style  */
    .banner {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-title {
        font-size: 54px;
        margin-bottom: 15px;
        line-height: 100%;
    }

    .banner-info {
        padding: 0 10px;
    }

    .banner-button {
        margin-bottom: 30px;
    }

    .banner-image {
        padding: 0 15px;
        margin-bottom: 20px;
    }

    .banner-image img {
        width: 100%;
    }



    /*         Blog 1 style            */

    .blog-container {
        flex-direction: column-reverse;
        padding: 0;
        gap: 30px;
    }

    .blog-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 15px;
    }

    .blog-images {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0 15px;

    }

    .blog-images img {
        width: 100%;
    }

    .blog-button {
        margin-bottom: 0;
    }

    /*         Blog 2 style            */

    .second-blog {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        margin: 0;
        gap: 5px;
    }

    .bottom-container {
        padding: 25px;
    }

    .right-side {
        text-align: center;
    }

    .no-name {
        padding: 0;
        margin: 0;
    }

    .right-side img {
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .big-button {

        top: 3870px;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 7px;

    }

    .big-button button {
        padding: 15px;
        font-size: 40px;
    }

    .experience {
        font-size: 20px;
    }


    /*           some facts            */

    .some-facts{
        margin: 0;
        padding: 0 15px;
    }

    .fact-details{
        margin-top: 100px;
        
    }
    .fact-details h3{
        margin-bottom: 10px;
    }
    .fact-details p{
        margin-bottom: 40px;
    }

    .facts-info{
        margin: 0;
        padding: 0;
        flex-direction: column;
        gap: 30px;
    }
}